body {
	width: 1024px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
}

/*=====Timeline=====*/


.timeline {
	width: 100%;
	margin: 40px 0;
	padding: 0;
	font-size: 0px;
}

.timeline-part {
	position: relative;
	display: inline-block;
	width: 20%;
}

.timeline-line {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 5px;
	font-size: 14px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100px' width='38px'%3E%3Cpolygon points='1,1 34,1 37,3 34,5 1,5 4,3' fill='rgb%28232,232,232%29' stroke='rgb%28232,232,232%29' stroke-width='1' /%3E%3C/svg%3E");
	background-position: 9px -0.5px;
}

.timeline-circle {
	position: absolute;
	top: -2px;
	right: -1px;
	z-index: 10;
	display: inline-block;
	height: 6px;
	width: 6px;
	border: 2px solid #e8e8e8;
	border-radius: 50%;
	box-shadow: inset 0px 0px 0px 1px white;
	background-color: white;
	font-size: 14px;
}

.label-top {
	margin-bottom: 5px;
	font-size: 10px;
	text-align: center;
	color: #777;
}

.label-bottom {
	padding-top: 3px;
	height: 2em;
	font-size: 10px;
	font-weight: 600;
	text-align: center;	
}

.t-progress .label-bottom {color: #00a500;} 

.t-attention .label-bottom,
.features__title__attention {color: #ff9620;} 

.t-wrong .label-bottom,
.features__title__wrong {color: #ff3e40;} 


.t-progress .timeline-line {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100px' width='38px'%3E%3Cpolygon points='1,1 34,1 37,3 34,5 1,5 4,3' fill='white' stroke='rgb%280,165,0%29' stroke-width='1' /%3E%3C/svg%3E");
}

.t-attention .timeline-line{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100px' width='38px'%3E%3Cpolygon points='1,1 34,1 37,3 34,5 1,5 4,3' fill='white' stroke='rgb%28255,150,32%29' stroke-width='1' /%3E%3C/svg%3E");
}

.t-passed .timeline-line,
.t-passed .timeline-circle {
	background: #00a500;
	border-color: #00a500;
}

.t-wrong .timeline-line,
.t-wrong .timeline-circle {
	background: #ff3e40;
	border-color: #ff3e40;
}

.t-attention .timeline-circle {border-color: #ff9620;}

.t-progress .timeline-circle {border-color: #00a500;}



/*=====Pie part=====*/

/*pie text*/

.wrapper {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.features {
	width: 100%;
	padding: 0;
	font-size: 0;
}

.features-inner {
	display: inline-block;
	width: 45%;
	padding: 20px;
	box-sizing: border-box;
	font-size: 10px;
	vertical-align: top;	
}

.features-left {padding-right: 60px;}

.features-right {padding-left: 80px;}

.features__title {
	margin-bottom: 0.1em;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.features__text {line-height: 1.5em;}

/*Pie diagram*/

.pie {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -60px;
	margin-top: -30px;
	width: 90px;
}

.pie-part {
	float: left;
	height: 40px;
	width: 40px;
	margin: 1px;
	background-color: green;
}

.pie-part1 {border-top-left-radius: 40px;}

.pie-part2 {border-top-right-radius: 40px;}

.pie-part3 {border-bottom-left-radius: 40px;}

.pie-part4 {border-bottom-right-radius: 40px;}

.pie-wrong {
	transform-origin: 0 100%;
	transform: scale(1.2);
	background-color: #ff3e40;
}

.pie-attention {
	transform-origin: 0 0;
	transform: scale(1.1);
	background-color: #ff9620;
}


/*=====Progressbar=====*/

.progressbar-block {
	width: 48%;
	margin-top: 30px ;
}

.progressbar {background: #eee;}

.progressbar-active {
	padding: 2px;
	background: blue;
	text-align: center;
	color: white;
	font-size: 8px;
}

.progressbar-progress {background-color: #00a500;}

.progressbar-attention {background-color: #ff9620;}

.progressbar-wrong {background-color: #ff3e40;}